.modalBack {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  background-color: var(--body-background-color);
  color: var(--headings-color);
}
